@{
    ViewData["Title"] = "Landing Page";
}

<div class="text-center align-middle">
    <h3 class="display-4">Welcome to Bayanihand!</h3>

    <a asp-controller="Account" asp-action="Log-In" class="btn btn-success" style="color: white">Log In</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-info" style="color: white">Register an Account</a>
</div>


