@{
    ViewData["Title"] = "Landing Page";
}

<div class="container text-center" style="padding-top: 10vh; padding-bottom: 10vh;">
    <div class="row mb-4">
        <div class="col-12">
            <h3 style="color: #5188F5;">Welcome to <span style="color: #FF911F;"><b>Bayanihand</b></span></h3>
            <img src="~/img/bayanihand_logo.png" alt="Bayanihand Logo" class="img-fluid" style="max-width: 150px; margin-bottom: 20px;" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
            <span style="color: #FF911F;"><h5>Kailangan mo ba ng <span style="color: #5188F5;"><i><b>tulong?</b></i></span></h5></span>
            <p>
                Connect with homeowners and local handymen to solve any job, big or small. We'll help you access to reliable workers to your barangay!
            </p>
        </div>

        <div class="col-md-6">
            <div class="vstack gap-3">
                <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary" style="color: #FF911F; background-color: white;">
                    <i class="fa-solid fa-shop"></i>
                    Login
                </a>
                <a asp-controller="Account" asp-action="HandymanRegister" class="btn btn-outline-primary" style="color: #FF911F; background-color: white;">
                    <i class="fas fa-tools"></i>
                    Register as a Handyman
                </a>
                <a asp-controller="Account" asp-action="CustomerRegister" class="btn btn-outline-primary" style="color: #FF911F; background-color: white;">
                    <i class="fas fa-user-friends"></i>
                    Register to Hire a Handyman
                </a>
            </div>
        </div>
    </div>
</div>


