@model LoginVM


<form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" method="post">

    <div class="vstack gap-3 col-lg-12" style="padding-top: 5vh; padding-bottom: 5vh; padding-left: 30vw; padding-right: 30vw;">

        <h3 class="text-center" style="color: #FF911F"><b><i>Login</i></b></h3>

        <label asp-for="Username" style="color: #5188F5"><b>Username</b></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>

        <label asp-for="Password" style="color: #5188F5"><b>Password</b></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <button type="submit" class="btn btn-outline-primary" style="color: #FF911F" value="Login">
            <i class="fa-solid fa-user"></i>
            <b>Login</b>
        </button>
        <a asp-controller="Landing" asp-action="Index" class="btn btn-outline-secondary">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <b>Back</b>
        </a>
        <br />
    </div>
</form>
