@model RegisterVM

    <div style="padding-top: 3vw; padding-bottom: 8vw;">
        <div class="card mx-auto" style="width: 30vw; background-color: #FAF9F6;">

            <form asp-controller="Account" asp-action="Register" method="post">
                <div class="p-5">

                    <span style="color: #5188F5" class="text-center"><h3>Register as a <span style="color: #FF911F"><b><i>User</i></b></span></h3></span>

                    <div class="mb-3">
                        <label asp-for="FirstName" style="color: #5188F5"><b>First Name</b></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LastName" style="color: #5188F5"><b>Last Name</b></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PhoneNo" style="color: #5188F5"><b>Phone Number</b></label>
                        <input asp-for="PhoneNo" class="form-control" />
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" style="color: #5188F5"><b>Password</b></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" style="color: #5188F5"><b>Confirm Password</b></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <label asp-for="Role" style="color: #5188F5"><b>I am a . . . </b></label>
                            <select asp-for="Role" class="form-control">
                                <option value="">-- Select a Option --</option>
                                <option value="Handyman">Handyman</option>
                                <option value="Customer">Customer</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                        <br />
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-primary" style="color: #FF911F">
                            <i class="fa-solid fa-user"></i>
                            <b>Register</b>
                        </button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <b>Back</b>
                        </a>
                    </div>
                    <br />
                </div>

            </form>
        </div>
    </div>