@model Bayanihand.App.Models.ScheduleVM

@{
    ViewData["Title"] = "Edit Schedule";
}

<h2>Edit Schedule</h2>

<a asp-controller="Schedule" asp-action="Index" class="btn btn-primary">
    <i class="fas fa-caret-square-left"></i> Back to Index
</a>

<h3>Schedule Details</h3>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Visit" class="control-label">Handyman Name</label>
        <input asp-for="Visit" class="form-control" />
        <span asp-validation-for="Visit" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="HandymanPhoneNo" class="control-label">Phone Number</label>
        <input asp-for="HandymanPhoneNo" class="form-control" />
        <span asp-validation-for="HandymanPhoneNo" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="MeetUpLocation" class="control-label">Meet Up Location</label>
        <input asp-for="MeetUpLocation" class="form-control" />
        <span asp-validation-for="MeetUpLocation" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="MeetUpDay" class="control-label">Meet Up Day</label>
        <input asp-for="MeetUpDay" class="form-control" />
        <span asp-validation-for="MeetUpDay" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="MeetUpTime" class="control-label">Meet Up Time</label>
        <input asp-for="MeetUpTime" class="form-control" />
        <span asp-validation-for="MeetUpTime" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="DateAdded" class="control-label">Date Added</label>
        <input asp-for="DateAdded" class="form-control" readonly="readonly" />
        <span asp-validation-for="DateAdded" class="text-danger"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="DateUpdated" class="control-label">Date Updated</label>
        <input asp-for="DateUpdated" class="form-control" readonly="readonly" />
        <span asp-validation-for="DateUpdated" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Save Changes</button>
    <br>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}